@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Montserrat');
a {
    color: #FF5555;
    text-decoration: none;
}

body {
    background: url(images/desk.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.titleText {
    font-size: 50px;
    text-align: center;
}

.normalText {
    font-size: 22px;
    text-align: center;
    color: white;
}

#mainContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}

#buttonContainer {
    width: 65%;
    height: auto;
    background-color: black;
    opacity: 0.8;
    border-radius: 0px 0px 5px 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

#navBtn {
    width: 50%;
    font-size: 23px;
    height: auto;
    color: white;
    padding: 15px;
    text-align: center;
    //font-family: 'Montserrat', sans-serif;
}

#greetingBox {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 200px;
    color: white;
    background-color: black;
    border-radius: 5px;
    opacity: 0.8;
    margin-top: auto;
    margin-bottom: auto;
    flex-flow: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#greetingText {
    font-size: 50px;
    text-align: center;
}

.hiddenContainer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.0;
    z-index: -1;
    padding: 3% 18% 5% 18%;
}

#projectBox {
    width: 65%;
    max-height: 290px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#aboutBox {
    width: 40%;
    height: 100%;
    color: white;
    background-color: black;
    opacity: 0.83;
    padding: 10px;
}

#navBtn:hover {
    color: #FF5555;
}

#greetingBox:hover + .hiddenContainer {
    opacity: 0.95;
    color: white;
    transition: 0.2s linear;
}

#greetingBox:hover + #navBtn {
    color: red;
}

#greetingBox:hover {
    opacity: 0.0;
}
