@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

body {
    background-color: #2d3340;
    font-family: 'Droid Sans', sans-serif;
}

#siteLink {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #d2d2d2;
}

#container {
    width: 55.5%;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
}

#infoBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    background-color: #c2c2c2;
    border-radius: 4px;
}

#buttonContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#navBtn {
    text-align: center;
    width: 32%;
    height: 48px;
    border-radius: 2px;
    font-size: 30px;
    background-color: #7a0000;
    color: #d2d2d2;
    text-decoration: none;
}

#mainText {
    font-size: 17px;
}

#titleText {
    font-size: 40px;
}

#titleTextSmall {
    font-size: 30px;
}

#projectTitleGreen {
    font-size: 30px;
    color: #006702;
    margin-top: 30px;
}

#projectTitleBlue {
    font-size: 30px;
    color: #003b67;
    margin-top: 30px;
}

#projectTitleRed {
    font-size: 30px;
    color: #920000;
    margin-top: 30px;
}

#projectTitlePurple {
    font-size: 30px;
    color: #730092;
    margin-top: 30px;
}

#key {
    height: auto;
    width: 35%;
    border: 2px solid black;
    padding: 5px;
    border-radius: 2px;
}

#selection {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 15%;
    background-color: #d8be8b;
    border-radius: 2px;
}

#contactContainer {
    position: fixed;
    bottom: 0;
    width: 99.6%;
}

#contactBox {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
    display: -webkit-flex;
    display: flex;
    flex: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background-color: #d8be8b;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}

@media (max-width: 1200px) {
    #container {
	width: 90%;
    }

    #buttonContainer {
	width: 90%;
    }
}